<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Proyecto</title>

	<!--  Android 5 Chrome Color-->
	<meta name="theme-color" content="#1976d2">

	<!-- CSS-->
	<link href="../css/prism.css" rel="stylesheet">
	<link href="../css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">

	<!--        <script type="text/javascript" src="scripts/controllers/login.js"></script>-->

	<!--  Scripts-->
	<script src="../js/jquery-2.1.1.min.js"></script>
	<script src="../js/jquery.timeago.min.js"></script>  
	<script src="../js/prism.js"></script>
	<script src="../bin/materialize.js"></script>

		<!--
<script src="js/init.js"></script>
-->
<script type="text/javascript">

		//document.getElementById('registro_btn').style.display = 'none';

		function volver(){
			window.location="login.html";
		}

		var password;
		function validarClave(pass2){
			var clave1 =  document.getElementById('password1').value;
			var clave2 =  document.getElementById('password2').value;
			//console.log(pass2);
			if (clave1 == clave2){
				//se activa el boton registrar
				document.getElementById('registro_btn').style.display = 'block';
				password = clave1;
			}
			else{
				//las claves son diferentes
				Materialize.toast('Las claves son diferentes', 4000) // 4000 is the duration of the toast

			}
		}
		function registrar_usuario(){

			var nombre_usuario_registro = document.getElementById('nombre_usuario_registro').value;
			var nombre = document.getElementById('nombre').value;
			// var email_usuario = document.getElementById('email').value;
			var correo = document.getElementById('correo').value;


			if (nombre_usuario_registro == ""){
				Materialize.toast('Nombre de usuario vacio', 4000); // 4000 is the duration of the toast
			}
			else if(nombre == ""){
				Materialize.toast('Nombre', 4000); // 4000 is the duration of the toast
			}else if(correo == ""){
				Materialize.toast('Email', 4000); // 4000 is the duration of the toast
			}else if(!validarEmail(correo)){
		    	Materialize.toast('Email Incorrecto', 4000); 
			}
			else if(password == ""){
				Materialize.toast('Password vacia', 4000); // 4000 is the duration of the toast
			}
			else{

				//ajax al php de registro
				/*
				var urlmod="../php/registro.php?nombre_usuario="+nombre_usuario_registro+"&password="+password;

				$.ajax({url:urlmod,
					data:'&callback=?',
					type: "GET",
					dataType: "jsonp",
					//async: true,
					success: function(data){
						if (data.status =="OK") {
							//$("body").load("body.php");
							window.location="plataforma.php";
						}
						else{
							//$("body").load("index.php");
							alert("Error");
							console.log(data.status);
						}
					}
				});
				*/

				var conexion;
			    if (window.XMLHttpRequest){
			        conexion = new XMLHttpRequest();
			    }
			    else{
			        conexion = new ActiveXObject("Microsoft.XMLHTTP");
			    }
			    conexion.onreadystatechange=function(){
			        if (conexion.readyState==4 && conexion.status==200){
			            //document.getElementById("midiv").innerHTML=conexion.responseText;
			            myFunction(conexion.responseText); 
			        }
			    }
			    conexion.open("GET","../php/registro.php?nombre_usuario="+nombre_usuario_registro+"&password="+password+"&nombre="+nombre+"&email="+correo,true);
			    conexion.send();
				function myFunction(response) {
					var arr = JSON.parse(response);
					if(arr.success>0){
						Materialize.toast('Registro Exitoso', 4000); 
						window.location = 'login.html'

					}

				}

			// console.log(nombre_usuario_registro);
			// console.log(nombre);
			// console.log(correo);
			// console.log(password);

			}//else
		}//registrar_usuario

		function validarEmail( email ) {
		    expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		    if ( !expr.test(email) ){
		    	//alert("Error: La dirección de correo " + email + " es incorrecta.");
		    	//Materialize.toast('Email Incorrecto', 4000); 
				return false;
			}else{
				return true;
			}
		}
		</script>

	</head>

	<body>
		<div class="row">
			<div class="col s12 m12 l12">
				<div id="registro" class="card">
					<div class="card-content">
						<div class="center-align">
							<a id="logo-container" href="#" class="brand-logo">
								<!--                                <object id="front-page-logo"  data="res/awarehome.png" style="height:110%; width: 40%; "></object>-->
							</a>
						</div>
						<div>
							<div class="row">
								<div class="input-field col s12 m12 l12 ">
									<input id="nombre_usuario_registro" type="text" class="validate">
									<label for="nombre_usuario_registro">Nombre Usuario</label>
								</div>
								<div class="input-field col s12 m12 l12 ">
									<input id="nombre" type="text" class="validate">
									<label for="nombre">Nombre</label>
								</div>								
<!-- 								<div class="input-field col s12">
									<input id="email" type="text" class="validate">
									<label for="email">Email</label>
								</div> -->
								<div class="input-field col s12 m12 l12 ">
									<input id="correo" type="email" class="validate">
									<label for="correo">Email</label>
								</div>



							</div>
							<div class="row">
								<div class="input-field col s12 m6 l6">
									<input id="password1" type="password" class="validate">
									<label for="password1">clave</label>
								</div>
								<div class="input-field col s12 m6 l6">
									<input id="password2" type="password" class="validate" onchange="validarClave(this.value)">
									<label for="password2">Repita clave</label>
								</div>
							</div>
							<div class="center-align">
								<div class="col s6 m6 l6" id="registro_btn" style="display: none">
									<a class="waves-effect btn" onclick="registrar_usuario()">Registrarme</a>
								</div>
								<a class="amber waves-effect  btn" onclick="volver()">Volver</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	</html>